.filter-box
{
    width: 75%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-left: 12px; /* Add some space below the input */
    border-left: 6px solid rgb(0, 157, 255);
}

.eq
{
  display:inline-block;
  font:italic 1.5em calibri;
  vertical-align:middle;
}
.line
{
  border:1px solid;
  margin:-1px 1px -1px 0;
}
.sup
{
  font-size:0.5em;
  vertical-align:top;
  margin:-2 2px;
}
.sub
{
  font-size:0.5em;
  vertical-align:bottom;
}
.flip-greek
{
    transform : rotateZ(98deg) scale(1, -1);
}
.result-up
{
    padding-bottom: 40px;
}

.filter
{
  display: none;
}
.chap
{
  font:italic 2em calibri;
  vertical-align:left;
}

.high-light
{
    color: crimson;
}

.greek
{
    
    font-size: 18px; /* Increase font-size */
    color: ghostwhite;
    background-color: deepskyblue;
    border: none;
    
}
.clear-bn
{
    
    font-size: 18px; /* Increase font-size */
    color: ghostwhite;
    background-color: orange;
    border: none;
    
}
