
.eq
{
  display:inline-block;
  font:italic 1.5em calibri;
  vertical-align:middle;
}
.line
{
  border:1px solid;
  margin:-1px 1px -1px 0;
}
.sup
{
  font-size:0.5em;
  vertical-align:top;
  margin:-2 2px;
}
.sub
{
  font-size:0.5em;
  vertical-align:bottom;
}
.flip-greek
{
    transform : rotateZ(98deg) scale(1, -1);
}
.result-up
{
    padding-bottom: 40px;
}

code
{
  display: none;
}
.chap
{
  font:italic 2em calibri;
  vertical-align:lefft;
}
